<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
	<head>
		<title>Spring Boot + Spring Security with SAML 2.0</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	</head>
	<body>
		<h1>SamlAttributes</h1>
		<p th:text="'DisplayName: ' + ${displayName}" />
		<p th:text="'GivenName: ' + ${givenName}" />
		<p th:text="'LastName: ' + ${lastName}" />
		<p th:text="'CommonName ' + ${commonName}" />
		<p th:text="'Netid: ' + ${netid}" />
		<p th:text="'Email: ' + ${email}" />
		<p th:text="'PrimaryAffiliation: ' + ${primaryAffiliation}" /> 
		
	</body>
</html>
