Misc/build/
Misc/bin/
Misc/data/
Misc/tdbs/

#java specific
*.class

*/target/
*/log/
*/support/
*/.classpath
*/.project
.settings
*/scripts/*.json

# ignore specific files
application.properties

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.save
*.log
