Misc/build/
Misc/bin/
Misc/data/
Misc/tdbs/

#java specific
*.class

*/target/
*/log/
*/support/
*/.classpath
*/awssenv.sh
.project
.settings
*/scripts/*.json

# ignore specific files
application.properties
application.yaml
Lucene2Csv/nalt.csv
FolioApiService/output
OpenCsvDemo/data.tsv

*/src/main/resources/saml-certificate/*

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.save
*.log
