spring:
  main:
    lazy-initialization: true
  security:
    saml2:
      entity-id: change-me
      verification.credentials:
       - certificate-location: "change-me"
      singlesignon.url: change-me
      singlesignon.sign-request: false
